*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  html{
  scroll-behavior: smooth;
  }
  body{
  background-color:#F5F5DC;
  }
  .navbar{
    position: fixed;
    display: flex;
    align-items: center;
    padding: 10px;
    background-color: #343434;
    width: 100%;
    z-index: 1000;
  }
  nav{
    flex: 1;
  }
  nav ul{
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    justify-content: flex-end;
  }
  nav ul li{
    margin-right: 2.5%;
  }
  
  nav ul li img{
  position: absolute;
  width: 18px;
  }
  .cart{
  margin-left: 10px;
  }
  a{
    text-decoration: none;
    color: 	#F5F5DC	;
  }
  p{
    color: #F5F5DC;
  }
  h3{
    color: #F5F5DC;
  }
  h5{
    color: #F5F5DC;
  }
  .container{
    max-width: 100%;
  }
  .motto-container{
    position: absolute;
    top: 30%;
    left: 5%;
    width: 700px;
  }
  .motto-container p{
    color: #343434;
    margin-left: 45px;
    font-weight: bold;
  }
  .h1-container{
    display: flex;
    background-color: #343434;
    justify-content: center;
    width: 300px;
    padding: 15px;
    border-radius: 10px;
    margin-left: 45px;
  }
  .motto-j{
   color: #FAF9F6;
   text-shadow: 0px 0px 3px #000000;
   margin-right: 10px;
  }
  .motto-tech{
    color: #e6ce49;
  }
  .slideshow-container{
    margin-top: 30px;
    display: flex;
    width: 700px;
    display: flex;
    align-items: center;
  }
  .numbertext {
    color: #343434;
    font-size: 15px;
    padding: 8px 12px;
  }
  .slideshow-container img{
    width: 600px;
    height: 320px;
    border-radius: 10px;
  }
  .racerSlide {
    display: none;
  }
.prev, .next {
  cursor: pointer;
  width: auto;
  padding: 16px;
  color: #F5F5DC;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  background-color: #343434;
}
.prev{
  border-radius: 3px 0 0 3px;
  margin-right: 3px;
}
.next{
  border-radius: 0px 3px 3px 0px;
  margin-left: 3px;
}
.prev:hover, .next:hover {
  background-color: gray;
}
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}
@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}
  .forms-container{
    position: absolute;
    width: 30%;
    height: auto;
    min-height: 500px;
    top: 40%;
    left: 60%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    background-color: 	#F9F6EE;
    border: 2px solid #343434;
    min-width: 250px;
  }
  .signup-h1{
    margin-top: 10px;
    color: #343434;
  }
  .signup-fname,.signup-lname,.signup-password,.signup-mnumber,.signup-email,.signup-birthday,.signup-address{
    border-radius: 5px;
    width: 200px;
    height: 30px;
  }
  .radio-container{
    display: flex;
    width: 75%;
  }
  .male-container{
    display: flex;
    margin-left: 20px;
  }
  .female-container{
    display: flex;
    margin-left: 20px;
  }
  input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

  .signup-birthday{
    margin-right: 70px;
  }
  .signup-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 80px;
  }
  .btn-signup{
    background-color: #343434;
    color: #F5F5DC;
    width: 70px;
    height: 30px;
    border-radius: 5px;
  }
  .btn-signup:hover{
    cursor: pointer;
  }
  .error-msg{
    color: #880808;
    background-color: #F88379;
    height: 25px;
    display: flex;
    align-items: center;
    width: 300px;
    margin-bottom: 10px;
    border-radius: 3px;
  }
  .success-msg{
    color: #343434;
    background-color: #ffffff;
    height: 25px;
    display: flex;
    align-items: center;
    width: 300px;
    margin-bottom: 10px;
    border-radius: 3px;
  }


  .footer{
  position: absolute;
  display: flex;
  justify-content: space-between;
  top: 120%;
  margin-top: 50px;
  margin-bottom: 50px;
  border: solid black;
  width: 100%;
  background-color: #343434;
  padding: 20px;
  }
  .footer img{
  width: 125px;
  max-width: 100%;
  }
  